body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e6e6fa; 
}

.quiz-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #B03060; /* Maroon Container Background */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.quiz-header {
    text-align: center;
    margin-bottom: 20px;
    color: #fff; /* White Text Color */
}

.question-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
}

.option {
    margin: 5px 0;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background-color: #b03060; 
    transition: background-color 0.3s;
    color: #fff; 
}

.option:hover {
    background-color: #c71585; 
}

.score-container {
    text-align: right;
    color: #ffffff; 
}
